* {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

h1 {
  margin: 80px 0 40px;
}

p {
  font-size: 1.9rem;
}

a {
  color: #fff;
}

a:hover {
  color: #ff9900;
  text-decoration: none;
}

section {
  padding: 50px 0;
  text-align: center;
}

.dark-background {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
}

/* rgb(1,221,234) */
.light-background {
  background-color: rgba(226,226,226);
  color: #000;
}

.light-background h2 {
  color: rgb(1,221,234);
  text-shadow: #3b2a18 -1px 1px 3px;
}

/* rgb(239,108,15) */
section h2 {
  color: #ff9900;
  font-size: 40px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid white;
  padding: 40px 0;
}

footer {
  color: #fff;
  background-color: #2e2a2a;
  padding: 20px 0;
}

footer img {
  margin: 20px 0;
}
.img-branding-footer {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.landing {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('img/landing.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.landing li {
  font-size: 2.6rem;
}
.landing-container {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.landing-content {
  display: table-cell;
  vertical-align: middle;
}

.landing-content img {
  border-radius: 50%;
  border: 2px solid #ff9900;
}

.img-me {
  height: 180px;
  width: 180px;
  margin: 20px 0;
  border-radius: 50%;
  border: 2px solid #ff9900;
}

@media only screen and (min-width: 550px) {
  section {
    padding: 65px 0;
  }
}

@media only screen and (min-width: 960px) {
  .landing-content h1 {
    font-size: 54px;
  }
  .img-me {
    height: 200px;
    width: 200px;
  }
  section {
    padding: 100px 0;
  }
}
